.DS_Store
component/node_modules/
vue-cli/my-project/node_modules/
vue-study/node_modules/
vuex/node_modules/
dist/
npm-debug.log
vue-cli/test/unit/coverage
vue-cli/test/e2e/reports
selenium-debug.log
.git